BasedOnStyle: llvm
AccessModifierOffset: -4
AlignEscapedNewlinesLeft: true
AlignOperands: true
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: true
AvoidMisleadingControlStatementContinuationIndent: true
BinPackParameters: false
BinPackArguments: true
BreakBeforeBinaryOperators: NonAssignment
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 8
ContinuationIndentWidth: 8
Cpp11BracedListStyle: false
IndentWidth: 4
PenaltyBreakBeforeFirstCallParameter: 40
SpaceAfterCStyleCast: true
TypenameMacros: ['AVS_LIST', 'AVS_RBTREE', 'AVS_RBTREE_ELEM', 'AVS_VECTOR']
BreakDesignatedInitializers: true
IndentPPDirectives: AfterHash
CommentPragmas: "AVSYSTEM_ANJAY_COMMERCIAL.*"
ExperimentalAutoDetectBinPacking: true
